{{yield}}
<article class="contact">

  <LinkTo class="div ContactInfo" @route="messagerie-juju">

  <img src="../assets/images/ranj-taimain.jpg"
    alt="../assets/images/img_avatar.jpg" class="profil contact"/>
  <h3 class="name">Ranj Tamain</h3>
  </LinkTo>
</article>