{{yield}}
<article class="contact">

  <LinkTo class="div ContactInfo" @route="messagerie-juju">

  <img class="profil contact"
      src="../assets/images/débis-lus.jpg"
      alt="../assets/images/img_avatar.jpg"
    />
  <h3 class="name" >Juju Torai</h3>
  </LinkTo>
</article>