
  <section class="MesMessages">
    <aside>
      <div class="avatarM is-active" title="Tomster's avatar">T</div>
    </aside>
    <h4 class="username">
      Tomster
      <span class="local-time">their local time is 4:56pm</span>
    </h4>

    <p>
      Hey Zoey, have you had a chance to look at the EmberConf brainstorming doc
      I sent you?
    </p>
  </section>


  <section class="TesMessages">
    <div class="profilM">
      <aside class="current-user">
        <div class="avatarM" title="Zoey's avatar">Z</div>
      </aside>
      <h4 class="username">Zoey</h4>
    </div>
    <p>Hey!</p>

    <p>
      I love the ideas! I'm really excited about where this year's EmberConf is
      going, I'm sure it's going to be the best one yet. Some quick notes:
    </p>
   </section>
