
  <section class="MesMessages">
  <div class="profilM">
    <aside>
      <div class="avatarM is-active" title="Tomster's avatar">T</div>
    </aside>
    <h4 class="username">
      Yehuda
      <span class="local-time"> 16h56</span>
    </h4>
    </div>
    <p>
      Bonjour, j'aurai besoin de faire garder ma chienne dina ce weekend. Seriez vous libre ?
    </p>
  </section>


  <section class="TesMessages">
    <div class="profilM">
      <aside class="current-user">
        <div class="avatarM" title="Zoey's avatar">Z</div>
      </aside>
      <h4 class="username">Zoey
      <span class="local-time"> 17h42</span>
      </h4>
    </div>
    <p>Bonjour</p>

    <p>
      Oui je serais libre pour garder votre chienne ce weekend. Vous avez besoin que je vous la récupère vendredi soir
      samedi matin ?
    </p>
   </section>
