
  <section class="MesMessages">
    <aside>
      <div class="avatarM is-active" title="Tomster's avatar">J</div>
    </aside>
    <h4 class="username">
      Juju Torai
      <span class="local-time">their local time is 4:56pm</span>
    </h4>

    <p>
      Hey there, so my train leaves earlier that I thought, do you think that I can drop my dog before 12:30?
    </p>
  </section>


  <section class="TesMessages">
    <div class="profilM">
      <aside class="current-user">
        <div class="avatarM" title="Zoey's avatar">R</div>
      </aside>
      <h4 class="username">Ranj Tamain</h4>
    </div>
    <p>Hey!</p>

    <p>
      Sure! Not a problem at all. I'm really excited about meeting your handsome dog, I'm sure we'll become buddies in no time :)
    </p>
   </section>
