{{yield}}
<div class="grid-container">
  <LinkTo @route="faire-gardez-vos-annimaux" class="div grid-VA votrePet"> <h3 class="texteInGrid textesec1">Searching for someone to look after your pets?</h3></LinkTo>
  <LinkTo @route="petsitter" class="div grid-GA lovingPet"> <h3 class="texteInGrid textesec2">Want to look after some pets ?</h3></LinkTo>
  <LinkTo @route="messagerie" class="div grid-item"><img src="../assets/images/talk.png" class="message gauche" alt="message" /><h3 class="texteInGrid textesec3">Your contacts</h3><img src="../assets/images/talk.png" class="message droit" alt="message" /></LinkTo>
</div>
{{yield}}