{{yield}}
<div class="grid-container">
  <LinkTo @route="faire-gardez-vos-annimaux" class="div grid-VA"> <h3 class="texteInGrid textesec1">Vous voulez Faire garder vos Annimaux</h3><img src="../assets/images/votreAnnimal-rb.png" class="votrePet" alt="votre Annimal" /></LinkTo>
  <LinkTo @route="about" class="div grid-GA"> <h3 class="texteInGrid textesec2">Vous voulez Garder des Annimaux </h3><img src="../assets/images/petSitting-rb.png" class="lovingPet" alt="loving pet" /></LinkTo>
  <LinkTo @route="about" class="div grid-item"><img src="../assets/images/talk.png" class="message gauche" alt="message" /><h3 class="texteInGrid textesec3">Vos discussions</h3><img src="../assets/images/talk.png" class="message droit" alt="message" /></LinkTo>
</div>
{{yield}}