{{yield}}
<div class="grid-container">
  <LinkTo @route="login" class="div grid-VA votrePet"> <h3 class="texteInGrid textesec1">Searching for someone to look after your pets?</h3></LinkTo>
  <LinkTo @route="login" class="div grid-GA"> <h3 class="texteInGrid textesec2">Want to look after some pets ?</h3><img src="../assets/images/petSitting-rb.png" class="lovingPet" alt="loving pet" /></LinkTo>
  <LinkTo @route="login" class="div grid-item"><img src="../assets/images/talk.png" class="message gauche" alt="message" /><h3 class="texteInGrid textesec3">Your contacts</h3><img src="../assets/images/talk.png" class="message droit" alt="message" /></LinkTo>
</div>
{{yield}}