{{yield}}
<div class="grid-container">
  <LinkTo @route="faire-gardez-vos-annimaux-vide" class="div grid-VA votrePet"> <h3 class="texteInGrid textesec1">Vous voulez Faire garder vos Annimaux</h3></LinkTo>
  <LinkTo @route="about" class="div grid-GA lovingPet"> <h3 class="texteInGrid textesec2">Vous voulez Garder des Annimaux </h3></LinkTo>
  <LinkTo @route="messagerie" class="div grid-item"><img src="../assets/images/talk.png" class="message gauche" alt="message" /><h3 class="texteInGrid textesec3">Votre Messagerie</h3><img src="../assets/images/talk.png" class="message droit" alt="message" /></LinkTo>
</div>
{{yield}}