<nav class="menu">
  <LinkTo @route="acceuil2" class="menu-index">
    <h1>KTFM </h1>
  </LinkTo>
  <div class="links ">
   <img class="logo" src="../assets/images/icone.png"/>
    <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      Contact
    </LinkTo>
    <LinkTo @route="faire-gardez-vos-annimaux" class="menu-contact">
      YourPets
    </LinkTo>
    <LinkTo @route="petsitter" class="menu-contact">
      PetSitters
    </LinkTo>
    <LinkTo @route="messagerie" class="menu-contact">
      Message
    </LinkTo>
    <LinkTo @route="profil2" class="btn avatar">  <img class="avatar" alt="Avatar" src="../assets/images/lucillePortrait.jpg">
    </LinkTo>
    <LinkTo @route="login" class="btn menu-option" ><img class="option" src="../assets/images/téléchargé-rb.png"/>
    </LinkTo>



  </div>
</nav>
	<div class="hero">
		<h1>Keep Them For Me</h1>
	</div>