<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>PetSitting </h1>
  </LinkTo>
  <div class="links ">
   <img class="logo" src="../assets/images/icone.png"/>
    <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      Contact
    </LinkTo>
    <LinkTo @route="login" class="menu-contact">
     Login
    </LinkTo>
     <LinkTo @route="signup" class="menu-contact">
    Signup
    </LinkTo>
    <LinkTo @route="about" class="btn avatar">  <img class="avatar" alt="Avatar" src="../assets/images/img_avatar.png">
    </LinkTo>
    <LinkTo @route="about" class="btn menu-option" ><img class="option" src="../assets/images/option-rb.png"/>
    </LinkTo>



  </div>
</nav>
	<div class="hero">
		<h1>Keep Them For Me</h1>
	</div>