{{yield}}
<article class="rental">
  <Rental::Image
    src="../assets/images/Lucile.jpg"
    alt="Lucile Rivensi"
  />
  <div class="details">
    <h3>Lucile Rivensi</h3>
    <div class="detail type">
      <span>annimaux accepter:</span> Chien/Chat
    </div>
    <div class="detail location">
      <span>Localisation:</span> Moiran
    </div>
    <div class="detail bedrooms">
      <span>quel sont les disponibilité:</span> samedi et dimanche
    </div>
  </div>
</article>