{{yield}}
<article class="rental">
  <Rental::Image
    src="../assets/images/tackingcare.jpg"
    alt="george Duna"
  />
  <div class="details">
    <h3>george Duna</h3>
    <div class="detail type">
      <span>annimaux accepter:</span> Chien/Chat
    </div>
    <div class="detail location">
      <span>Location:</span> Grenoble
    </div>
    <div class="detail bedrooms">
      <span>quel sont les disponibilité:</span> la semaine
    </div>
  </div>
</article>