{{yield}}
<article class="rental">
  <Rental::Image
    src="../assets/images/lucile.jpg"
    alt="../assets/images/img_avatar.jpg"
  />
  <div class="details">
    <h3>Deby lus</h3>
    <div class="detail type">
      <span>disponibilié:</span> aux jours
    </div>
    <div class="detail location">
      <span>localisation:</span> Grenoble
    </div>
    <div class="detail bedrooms">
      <span>Number d'animaux max:</span> 2
    </div>
  </div>
  <LinkTo class="btn contacter" @route="messagerie">Contacter</LinkTo>
</article>