
<label for="time">For how long?</label>
<div class="inline">
<input id="nbjour" type="number" placeholder="1">
<select name="time" id="time" required>
    <option value="">--Please choose an option--</option>
    <option value="jours">Days</option>
    <option value="semaine">Weeks</option>
    <option value="mois">Months</option>
</select>
</div>