
<label for="time">combien de temps:</label>
<div class="inline">
<input id="nbjour" type="number" placeholder="42">
<select name="time" id="time" required>
    <option value="">--Please choose an option--</option>
    <option value="jours">Jours</option>
    <option value="semaine">semaine</option>
    <option value="mois">mois</option>
</select>
</div>