<Entete>
<Jumbo>
  <h2>About KTFM</h2>
  <p>
    Nous somme un site qui met en relations les petSitters et les personne ayant des annimaux.
    Le site n'a aucune vue commercial en soit tout ce passe ensuite entre vous et les petSitters.
  </p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>
</Entete>