<Entete>
<Jumbo>
  <h2>About KTFM</h2>
  <p>
     Worried about who's gonna look after your pet while you are on that long planned vacation or just a getaway weekend?
    Well, buddy, we've got you covered!
    Our website will no doubt help you find your favourite pet sitter for free in just a few clicks.
 </p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>
</Entete>