<Entete>
<body>
  <Jumbo>
    <h2>Welcome to KTFM!</h2>
    <p>It's our pleasure to look after your pets^^ .</p>
    <LinkTo @route="about" class="button">About Us</LinkTo>
  </Jumbo>
  <Encartpageacceuil></Encartpageacceuil>
</body>
</Entete>
