<Entete>
{{yield}}
<section class="VosAnnimaux">
  <h2 class=>Quel annimal voulez vous faire gardez ?</h2>
  <LinkTo @route="faire-gardez-vos-annimaux" class="div">
    <div class="grid-Annimaux A1">
      <h3 class="textesec4">
      <img class="rajouter gauche" src="../assets/images/plus-rb.png" alt="annimal"/>
       rajouter un annimal
      </h3>
    </div>
  </LinkTo>
</section>
{{yield}}
</Entete>