<Entete>
{{yield}}
<!-- nouveau layout pour la page de choix-->
<section class="VosAnnimaux">
  <div class="contenue">
<h2 >For what animal are you looking for a petsitter ?</h2>
  <div class="form choiceplus">
    <label for="ville"> In which city?</label>
    <input type="text" id="ville"/>
    <Datechoice/>
    <Datechoice2/>
    <LinkTo class="btn notrebouton" @route="list-petsitter">search</LinkTo>

  </div>

  <div class="votreAnimal checkbox">
    <div class="grid-Annimaux" id="checkboxes">
        <input type="checkbox" name="rGroup" value="1" id="r1">
        <label class="A1 whatever " for="r1">
              <h3 class="textesec4">
              <img class="chien gauche" src="../assets/images/labrador.jpg" alt="annimal"/>
              <LinkTo @route="rufus" ><img class="chien droit" src="../assets/images/edit-rb.png" alt="edit"/></LinkTo>
               Rufus
              </h3>
              <p class="info">  Dog  age : 7 years   </p>
        </label>
    </div>
    <LinkTo @route="petowner" class="div">
        <div class="grid-Annimaux A1">
          <h3 class="textesec4">
          <img class="rajouter gauche" src="../assets/images/plus-rb.png" alt="annimal"/>
           add an animal
          </h3>
        </div>
      </LinkTo>
  </div>


</div>
</section>
{{yield}}
</Entete>