<Jumbo>
  <h2>Bienvenue sur PetSitters!</h2>
  <p>Pour faire garder votre animale sans problème ^^ .</p>
  <LinkTo @route="about" class="button">A Propos de nous</LinkTo>
</Jumbo>
<div class="rentals">
  <ul class="results">
    <li><Rental /></li>
    <li><Rental /></li>
    <li><Rental /></li>
  </ul>
</div>