<body>
  <Jumbo>
    <h2>Bienvenue sur KTFM!</h2>
    <p>Pour faire garder votre animale sans problème ^^ .</p>
    <LinkTo @route="about" class="button">A Propos de nous</LinkTo>
  </Jumbo>
  <Encartpageacceuil></Encartpageacceuil>
</body>

