<Entete>
<h2 class="titre centrer">Liste des PetSitter</h2>
<div class="rentals">
  <ul class="results">
    <li><Petsitter1 /></li>
    <li><Petsitter2 /></li>
    <li><Petsitter3 /></li>
    <li><Petsitter4 /></li>
    <li><Petsitter5 /></li>
  </ul>
  </div>
</Entete>