<Entete>
<section class="VosAnnimaux">
<h2>Messagerie</h2>
  <div class="contenue">
   <div class="form"></div>
   <div class="voschat"></div>
   <div class="choix"></div>
  </div>
</section>
</Entete>