<Entetevide>
    <Jumbo>
      <form class="reg-form">

         <div class="field-row">
            <label class="form-label">Number of pets</label>
              <select class="form-dropdown field">
                 <option value="one"> 1 </option>
                 <option value="two"> 5+ </option>
                 <option value="three"> 10 </option>
                 <option value="four"> 10+ </option>
              </select>
           </div>

           <div class="field-row">
              <label class="form-label">Category</label>
              <select class="form-dropdown field">
                 <option value="1st "> Dogs </option>
                 <option value="2nd "> Cats </option>
                 <option value="3rd "> Birds </option>
                 <option value="4th "> Snakes </option>
                 <option value="5th "> Humster </option>
              </select>
            </div>

           <div class="field-row">
          <label class="form-label">Decription</label>
          <textarea  class="field text-field last-name-field"> </textarea>
         </div>

          <div>
            <label class="form-label"></label>
            <label class="form-label" for="safe">Safe</label>
            <label class="form-label"></label>
            <input class="inputs" type="checkbox" id="safe" name="safe">
            </div>

            <div>
            <label class="form-label"></label>
            <label class="form-label" for="unsafe">Dangerous</label>
            <label class="form-label"></label>
            <input class="inputs" type="checkbox" id="unsafe" name="unsafe">
            </div>

         <div class="field-row">
              <label class="form-label"></label>
              <button class="form-button" type="submit">Validate</button>
        </div>
       </form>
    </Jumbo>
</Entetevide>