<Entetevide>
    <Jumbo>
     <form class="reg-form">
           
         
           <div class="field-row">
              <label class="form-label" for="hs">Price</label>
              <input type="text" id="hs" class="field text-field hs-field" >
            </div>
         
           <div class="field-row">
              <label class="form-label">Number of Animals Accepted</label>
              <select class="form-dropdown field">
                 <option value="one"> 1 </option>
                 <option value="two"> 3 </option>
                 <option value="three"> 5 </option>
                 <option value="four"> 5+ </option>
              </select>
           </div>
  
           <div class="field-row">
              <label class="form-label">Availability</label>
              <select class="form-dropdown field">
                 <option value="1st Year"> Monday </option>
                 <option value="2nd Year"> Tuesday </option>
                 <option value="3rd Year"> Wednesday</option>
                 <option value="4th Year"> Thursday </option>
                 <option value="5th Year"> Friday</option>
                 <option value="5th Year"> Saturday</option>
                 <option value="5th Year"> Sunday</option>
                 <option value="5th Year"> Weekend only</option>
                 <option value="5th Year"> Week days only</option>
              </select>
           </div>
          

           <div class="field-row">
              <label class="form-label"></label>
              <button class="form-button" type="submit">Validate</button>
           </div>
          
      </form> 
     
    </Jumbo>
</Entetevide>