<Entete>
    <Jumbo>


      <div class="field-row">

    <img src="../assets/images/lucillePortrait.jpg" id="photo">
     <input type="file"  id="file"/>

      </div>

  <div class="field-row">
   <label class="form-label" for="firstName">First Name :</label>
   <h5 class="info">Lucile</h5>
   </div>

     <div class="field-row">
    <label class="form-label" for="firstName">Surname:</label>
    <h5 class="info">Défira</h5>
    </div>

     <div class="field-row">
    <label class="form-label" for="firstName">Gender:</label>
    <h5 class="info">Female</h5>
     </div>

      <div class="field-row">
    <label class="form-label" for="firstName">Mail:</label>
    <h5 class="info">lucile@hotmail.com</h5>
    </div>

    <div class="field-row">
    <label class="form-label" for="firstName">Age:</label>
    <h5 class="info">28</h5>
    </div>

    <div class="field-row">
    <label class="form-label" for="firstName">Phone Number:</label>
    <h5 class="info">069874431</h5>
    </div>

    <div class="field-row">
    <label class="form-label" for="firstName">City:</label>
    <h5 class="info">Grenoble</h5>
    </div>
    </Jumbo>
</Entete>