<Entetevide>
    <Jumbo>


      <div class="field-row">

    <img src="../assets/images/propic.png" id="photo">
     <input type="file" id="file"/>

      </div>

  <div class="field-row">
   <label class="form-label" for="firstName">First Name :</label>
   <h6 class="info">Pièrre</h6>
   </div>

     <div class="field-row">
    <label class="form-label" for="firstName">Surname:</label>
    <h6 class="info">Dupont</h6>
    </div>

     <div class="field-row">
    <label class="form-label" for="firstName">Gender:</label>
    <h6 class="info">Male</h6>
     </div>

      <div class="field-row">
    <label class="form-label" for="firstName">Mail:</label>
    <h6 class="info">dupont@hotmail.com</h6>
    </div>

    <div class="field-row">
    <label class="form-label" for="firstName">Age:</label>
    <h6 class="info">36</h6>
    </div>

    <div class="field-row">
    <label class="form-label" for="firstName">Phone Number:</label>
    <h6 class="info">069874431</h6>
    </div>

    <div class="field-row">
    <label class="form-label" for="firstName">City:</label>
    <h6 class="info">Toulouse</h6>
    </div>
    </Jumbo>
</Entetevide>