<Entete2>
    <Jumbo>


      <div class="field-row">

    <img src="../assets/images/yehuda.jpg" id="photo">
     <input type="file"  id="file"/>

      </div>

  <div class="field-row">
   <label class="form-label2" for="firstName">First Name :</label>
   <h5 class="info">Pièrre</h5>
   </div>

     <div class="field-row">
    <label class="form-label2" for="firstName">Surname:</label>
    <h5 class="info">Dupont</h5>
    </div>

     <div class="field-row">
    <label class="form-label2" for="firstName">Gender:</label>
    <h5 class="info">Male</h5>
     </div>

      <div class="field-row">
    <label class="form-label2" for="firstName">Mail:</label>
    <h5 class="info">dupont@hotmail.com</h5>
    </div>

    <div class="field-row">
    <label class="form-label2" for="firstName">Age:</label>
    <h5 class="info">36</h5>
    </div>

    <div class="field-row">
    <label class="form-label2" for="firstName">Phone Number:</label>
    <h5 class="info">069874431</h5>
    </div>

    <div class="field-row">
    <label class="form-label2" for="firstName">City:</label>
    <h5 class="info">Toulouse</h5>
    </div>
    </Jumbo>
</Entete2>