<Entetevide>
    <Jumbo>
      <form class="reg-form">
           <div class="field-row">
              <label class="form-label" for="firstName">First name</label>
              <input type="text" id="firstName" class="field text-field first-name-field" >

           </div>
           <div class="field-row">
              <label class="form-label cf" for="lastName">Last name</label>
              <input type="text" id="lastName" class="field text-field last-name-field" >

           </div>

            <div class="field-row">
              <label class="form-label">Gender</label>
              <select class="form-dropdown field">
                 <option value="1st Year"> Male </option>
                 <option value="2nd Year"> Female </option>
              </select>
           </div>
           <div class="field-row">
              <label class="form-label" for="initials">Email</label>
              <input type="text" id="initials" class="field text-field initials-field">
           </div>
            <div class="field-row">
              <label class="form-label" for="email">Password</label>
              <input type="email" id="email" class="field text-field email-field" >

           </div>
           <div class="field-row">
              <label class="form-label" for="email">Password Verification</label>
              <input type="email" id="email" class="field text-field email-field" >

           </div>
           <div class="field-row">
              <label class="form-label" for="dateOfBirth">Date of birth</label>
              <input type="date" id="dateOfBirth" class="field date-field dob-field" min="1900-01-01" max="2021-12-10"  required>

           </div>
           <div class="field-row">
              <label class="form-label" for="tel">Phone number</label>
              <input type="tel" id="tel" class="field text-field tel-field" >

           </div>
           <div class="field-row">
              <label class="form-label" for="tel">City</label>
              <input type="tel" id="tel" class="field text-field address-field" >

           </div>
           <div class="fields btn">
               <LinkTo @route="acceuil1" class="div submit btn-submit" >Create</LinkTo>
           </div>
      </form>
    </Jumbo>
</Entetevide>